[Unit]
Description=An OTA service based on swupdate by Innodisk.
After=network.target

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=x"
ExecStart=/usr/bin/swu-client -f /opt/innodisk/swu-client/config.ini

[Install]
WantedBy=multi-user.target

